<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductFilesComponentGroup">
            <Component Id="cmpE3922DFB62D742E0D12971ABA17F420A" Directory="INSTALLLOCATION" Guid="*">
                <File Id="filEE26D917C1203CDDDF42992B6B595322" KeyPath="yes" Source="$(var.TownCrier.TargetDir)\SimpleConfig.dll" />
            </Component>
            <Component Id="cmpDB6B4084CDA61CCFB8788E8FA77A0D86" Directory="INSTALLLOCATION" Guid="*">
                <File Id="filF09AE1E99FF9953FC686BB507FF91AE3" KeyPath="yes" Source="$(var.TownCrier.TargetDir)\TestInstaller.exe" />
            </Component>
            <Component Id="cmp5E7B660830E00A7485A227CC57F88B2D" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil6AE481F9D10020F65F784EDC5CEAF0E3" KeyPath="yes" Source="$(var.TownCrier.TargetDir)\TestInstaller.exe.config" />
            </Component>
            <Component Id="cmp3C3859CB80DD5ED272F9482DDEA5F262" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil8E70B7960D5631A07038DE0A7EEAA041" KeyPath="yes" Source="$(var.TownCrier.TargetDir)\TestInstaller.pdb" />
            </Component>
            <Component Id="cmp9CC65689C89B8B85EB81F19AF3E1CDCB" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil34C97E58783E2EA4A19AC802037B72BF" KeyPath="yes" Source="$(var.TownCrier.TargetDir)\TestInstaller.vshost.exe" />
            </Component>
            <Component Id="cmpAE237052F33EC48D65D08069BD193F17" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil008417CE0A525DE840681249F60AA1EF" KeyPath="yes" Source="$(var.TownCrier.TargetDir)\TestInstaller.vshost.exe.config" />
            </Component>
            <Component Id="cmpF1D74266D30CACF790A7EA0697FBE494" Directory="INSTALLLOCATION" Guid="*">
                <File Id="filA912F2718F474AD226753414764FD0F3" KeyPath="yes" Source="$(var.TownCrier.TargetDir)\TestInstaller.vshost.exe.manifest" />
            </Component>
            <Component Id="cmp5EBE1E34FBA70B5BC9D077DF58D3F888" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil11CF0386EC2A1480D262E8CFB866DD71" KeyPath="yes" Source="$(var.TownCrier.TargetDir)\Topshelf.dll" />
            </Component>
            <Component Id="cmpC3B7B1BFB26D2D9C929E9BEEEE6076EF" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil1B674FC548C0507E1F8A67D51C88D092" KeyPath="yes" Source="$(var.TownCrier.TargetDir)\Topshelf.xml" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>