<?xml version="1.0" encoding="UTF-8"?>
<?include ProductConfiguration.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.ProductManufacturer)" UpgradeCode="$(var.ProductUpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    
    <UIRef Id="WixUI_InstallDir" />


    <!--<WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Bitmaps\bannrbmp.bmp" />-->

    <Icon Id="icon.ico" SourceFile="$(var.ProjectDir)\icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />

    <Feature Id="ProductFeature" Title="Installer" Level="1">
      <ComponentGroupRef Id="ProductComponents"/>      
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="TownCrier">          
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="TownCrier" Guid="*">
        <File Id="TownCrierService" Source="$(var.TownCrier.TargetDir)\TownCrier.exe" KeyPath="yes"/>
        
        <ServiceInstall Name="Town Crier" DisplayName="Town Crier" Description="Town Crier" Start="auto" ErrorControl="normal" Type="ownProcess">
          <util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="restart" ResetPeriodInDays="0" RestartServiceDelayInSeconds="20"/>
          <ServiceConfig DelayedAutoStart="yes" OnInstall="yes" OnReinstall ="yes" />          
        </ServiceInstall>
        
        <ServiceControl Id="sc_TownCrierServiceExe" Name="Town Crier" Start="install" Stop="both" Remove="uninstall" Wait="no"/>        
      </Component>
      <Component Id="ProductComponent" Guid="{A5A3E4C3-B808-4C95-AE98-DEA0C8FDA726}">
        <!-- Components ordered alphabetically -->
        
        <File Source="$(var.TownCrier.TargetPath).config"/>
        <File Source="$(var.TownCrier.TargetDir)\SimpleConfig.dll" />      
        <File Source="$(var.TownCrier.TargetDir)\Topshelf.dll" />
        <File Source="$(var.TownCrier.TargetDir)\Topshelf.Log4Net.dll" />
        <File Source="$(var.TownCrier.TargetDir)\log4net.config" />        
        <File Source="$(var.TownCrier.TargetDir)\log4net.dll" />              
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>



